/* general  */
:root {
    --color-dark: #2c3e50;
    --color-dark-secondary: #3a546d;
    --color-bg-section: #1abc9c;
}

/* text  */
body {
    color: var(--color-dark);
}
.link-color {
    color: var(--color-bg-section);
}

/* background colors  */
.my-bg-odd-section {
    background-color: var(--color-bg-section);
}
.my-bg-dark-sec {
    background-color: var(--color-dark-secondary);
}
.my-bg-dark{
    background-color: var(--color-dark);
}

/* hero  */
#hero figure {
    width: 250px;
}

.my-star-white:after, .my-star-white:before {
    content: '';
    display: block;
    width: 8vw;
    height: 3px;
    background-color: white;
}
.my-star-dark:after, .my-star-dark:before {
    content: '';
    display: block;
    width: 8vw;
    height: 3px;
    background-color: var(--color-dark);
}

/* portfolio  */
#portfolio figure {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

#portfolio figure:hover::after{
    content: '+';
    color: white;
    font-size: 10em;
    line-height: 10em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1abc9cad ;
}

/* about  */
#about .btn {
    border: 1px solid white;
    color: white;
}

#about .btn:hover {
    background-color: white;
    color: var(--color-dark);
}

/* footer  */
footer a .icon-bg {
    width: 2em;
    height: 2em;
    transition: all 0.3s;
}
footer a:hover .icon-bg {
    transform: scale(0.9);
}
