/* general  */
:root {
    --color-dark: #2c3e50;
    --color-dark-secondary: #3a546d;
    --color-bg-section: #1abc9c;
}

/* text  */
body {
    color: var(--color-dark);
}
.link-color {
    color: var(--color-bg-section);
}

/* background colors  */
.my-bg-odd-section {
    background-color: var(--color-bg-section);
}
.my-bg-dark-sec {
    background-color: var(--color-dark-secondary);
}
.my-bg-dark{
    background-color: var(--color-dark);
}


/* hero  */
#hero figure {
    width: 250px;
}
.row-star {
    width: 8vw;
    height: 3px;
}

/* footer  */
footer .icon-bg {
    width: 2em;
    height: 2em;
}